<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:j2ee="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <description>Grizzly Messages Bus Servlet</description>
  <display-name>Grizzly Messages Bus Servlet</display-name>
  <servlet>
    <description>MessagesBus</description>
    <servlet-name>MessagesBus</servlet-name>
    <servlet-class>com.sun.grizzly.messagesbus.MessagesBus</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagesBus</servlet-name>
    <url-pattern>/messagesbus</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>25</session-timeout>
  </session-config>
</web-app>

