*.ipr
*.iml
*.iws
*.orig
*.swp
*~
atlassian-ide-plugin.xml
target
.idea
nbactions.xml
.classpath
.project
.settings/
modules/bundles/comet/src
modules/bundles/core/src
modules/bundles/http/src
modules/bundles/http-all/src
modules/bundles/http-servlet/src
modules/bundles/websockets/src
