
BODY {
    background-color: #ffffff;
    font-size: 100%;
}

BODY, DIV, P, TD, TH {
    font-family: tahoma, verdana, sans-serif;
    font-size: 11px;
    color: #000000;
}

PRE {
    font-size: 10pt;
    font-family: courier new, monospaced, serif;
    margin: 0;
}

FIELDSET LEGEND {
    color: #000000;
}

A {
}

A:link {
    color: #000000;
}

A:visited {
    color: #808080;
}

A:hover {
    color: #FF0000;
    text-decoration: none;
}

A:active {
    color: #FF0000;
}

.hl-comment {
    color: #556b2f;
}

.hl-keyword {
    color: #191970;
    font-weight: bold;
}

.hl-string {
    color: #006400;
    font-weight: bold;
}

.programlisting {
    background-color: #F0F0F0;
    border-style: solid;
    border-width: 1px;
}




